@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item">
            <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">
                <strong>
                    Log off
                </strong>
            </a>
        </li>
    }
        <li class="nav-item">
            <strong>
                @Html.ActionLink("My Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link" })
            </strong>
        </li>
}
else
{
    <li class="nav-item">
        <strong>
            @Html.ActionLink("LOGIN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </strong>
    </li>
}