
@{
    ViewBag.Title = "AddPicture";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="d-flex justify-content-center m-3" id="profile">
                <h2 class="h1">Home Page Pictures</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card border-red">
                <div class="card-header bg-red" style="color:#ffffff;">
                    <h2>Upload a Picture</h2>
                </div>
                <div class="card-body border-red">
                    @*<div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="d-flex justify-content-center">
                                <a href="https://placeholder.com/"><img src="https://via.placeholder.com/500" /></a>
                            </div>
                        </div>
                    </div>*@  
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <input type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="card border-green">
                <div class="card-header bg-green" style="color:#ffffff;">
                    <h2>Current Pictures</h2>
                </div>
                <div class="card-body border-green">

                </div>
            </div>
        </div>
    </div>
</div>