@{
    ViewBag.Title = "About Us";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center;">
                Greenville Farms Oregon
            </h1>
        </div><!--/col-md-12-->
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <p style="max-width:1225px;"><!--Somewhat wack; did not know how else to match up the text width-->
                    We are a small family farm outside of Banks Oregon about 25 miles from Portland.
                    For more than 14 years we have been bringing sustainably grown veggies, eggs, jams
                    and goodies from our farm to you at local Farmers Markets and through our CSA (Community Supported Agriculture).
                </p>
            </div>
        </div><!--/col-md-12-->
    </div><!--/row-->
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="d-flex justify-content-end">
                <div id="map"></div>
            </div>
        </div><!--/col-md-6 col-xs-12-->
        <div class="col-md-6 col-xs-12">
            <div class="d-flex justify-content-start">
                <div id="tractorImage"></div>
            </div>
        </div><!--/col-md-6 col-xs-12-->
    </div><!--/row-->
</div><!--/container-fluid-->

<!--Google Map API Scripts-->
<script src="~/Scripts/map.js"></script>
<script src="@ViewBag.googleAPI" async defer></script>