
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 order-xl-first col-sm-6 col-xs-12">
            <br />
            <!-- About Us -->
            <div class="card border-red info-box">
                <div class="card-header bg-red" style="color:#ffffff;">
                    <h3>About Us</h3>
                </div>
                <div class="card-body border-red">
                    <p>
                        We are a small family farm outside of Banks Oregon about 25 miles from Portland.
                        For more than 14 years we have been bringing sustainably grown veggies, eggs, jams
                        and goodies from our farm to you at local Farmers Markets and through our CSA (Community Supported Agriculture).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>