@{
    ViewBag.Title = "About Us";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--Title-->
            <h1 style="text-align: center;">Greenville Farms Oregon</h1>
            <br />
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <!--Info about the farm-->
                    <p>We are a small family farm outside of Banks Oregon about 25 miles from Portland. For more than 14 years we have been bringing sustainably grown veggies, eggs, jams and goodies from our farm to you at local Farmers Markets and through our CSA (Community Supported Agriculture).</p>
                    <!--Map-->
                    <div id="map"></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <!--Tractor with Dog Picture-->
                    <div id="tractorImage"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Google Map API Scripts-->
<script src="~/Scripts/map.js"></script>
<script src="@ViewBag.googleAPI" async defer></script>