
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="about-image background">
    <div class="row mb-4">
        <div class="col-12">
            <!-- About Us -->
            <div class="card border-green">
                <div class="card-header bg-green">
                    <h3>About Us</h3>
                </div>
                <div class="card-body">
                    <p>
                        We are a small family farm outside of Banks Oregon about 25 miles from Portland.
                        For more than 14 years we have been bringing sustainably grown veggies, eggs, jams
                        and goodies from our farm to you at local Farmers Markets and through our CSA (Community Supported Agriculture).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12" id="column-padding">
            <div class="d-flex justify-content-end">
                <div class="map-responsive">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <!-- About Us -->
            <div class="card border-green">
                <div class="card-header bg-green">
                    <h3>More Info About Us</h3>
                </div>
                <div class="card-body">
                    <p>
                        <strong>This is placeholder text</strong><br /><br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Id leo in vitae turpis massa sed elementum tempus. Mauris pellentesque pulvinar pellentesque habitant morbi
                        tristique senectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Nunc faucibus a
                        pellentesque sit amet porttitor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Google Map API Scripts-->
<script src="~/Scripts/map.js"></script>
<script src="@ViewBag.googleAPI" async defer></script>