@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Greenville Farms Oregon</h1>
            <p>We are a small farm located in Forest Grove, OR.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>