@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

<!--Banner and Title-->
<div class="image-bar">
    <h1>Greenville Farms</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="fb-page" data-href="https://www.facebook.com/GreenvilleFarms/" data-tabs="timeline" data-width="500" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/GreenvilleFarms/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GreenvilleFarms/">Greenville Farms</a></blockquote></div>
            @*<br />
            <a href="https://www.facebook.com/GreenvilleFarms/" target="_blank">Catch us on Facebook!</a>*@
        </div>
        <div class="col-md-6 col-xs-12">
            <!--This is where the map is-->
            <h2>You can find us here:</h2>
            <div id="map"></div>
        </div>
    </div>
    <!--If we want another row it would go here.-->
</div>

<!--Google Map API Scripts-->
<script src="~/Scripts/map.js"></script>
<script src="@ViewBag.googleAPI" async defer></script>