@model IEnumerable<GreenvilleFarmsProject.Models.Review>
@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>
<div id="content">
    <div id="gift" class="center">
        <h2>A Gift of Oregon</h2>
    </div>
    <!-- Row 1 -->
    <div class="row">
        <div class="col-xl-6">
            <!-- Farmer's Markets -->
            <div class="card border-red info-box">
                <div class="card-header bg-red" style="color:#ffffff;">
                    <h3>Farmer's Markets</h3>
                </div>
                <div class="card-body border-red">
                    <ul>
                        <li>
                            <a href="#">Hillsdale</a>
                        </li>
                        <li>
                            <a href="#">Woodstock</a>
                        </li>
                        <li>
                            <a href="#">Cannon beach</a>
                        </li>
                        <li>
                            <a href="#">St. Johns</a>
                        </li>
                        <li>
                            <a href="#">OHSU</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <img class="d-block picture" src="~/Content/Images/Picture_Uploads/@ViewBag.Pictures[0].PictureName" />
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <img class="d-block picture" src="~/Content/Images/Picture_Uploads/@ViewBag.Pictures[1].PictureName" />
        </div>
        <div class="col-xl-6">
            <!--Google Reviews-->
            <div class="card border-green info-box">
                <div class="card-header bg-green" style="color:#ffffff;">
                    <h4>Google Reviews:</h4>
                </div>
                <div class="card-body border-green">
                    @foreach (var review in Model)
                    {
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <p><strong>@Html.DisplayNameFor(model => model.author_name): </strong>@Html.DisplayFor(modelItem => review.author_name)</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                <p><strong>@Html.DisplayFor(modelItem => review.relative_time_description)</strong></p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
                                <!--<div class="d-flex justify-content-end">-->
                                <p>
                                    @for (int i = 0; i < review.rating; i++)
                                    {
                                        <img src="~/Content/Images/Icons/star.svg" class="filter-gold" />
                                    }
                                </p>
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <p>@Html.DisplayFor(modelItem => review.text)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>