@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

<!--Banner and Title-->
<div class="image-bar">
    <h1>Greenville Farms</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="fb-page" data-href="https://www.facebook.com/GreenvilleFarms/" data-tabs="timeline" data-width="500" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/GreenvilleFarms/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GreenvilleFarms/">Greenville Farms</a></blockquote></div>
            @*<br />
            <a href="https://www.facebook.com/GreenvilleFarms/" target="_blank">Catch us on Facebook!</a>*@
        </div>
        <div class="col-md-6 col-xs-12">
            <!--This is where the map is-->
            <h2>You can find us here:</h2>
            <div id="map"></div>
        </div>
    </div>
    <!--If we want another row it would go here.-->
</div>

<!--Google Map API Scripts-->
<script>
    var map;
    function initMap() {
        // The location of the farm
        var farm = { lat: 45.592590, lng: -123.125160 };

        // The map, centered at the farm
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 10, center: farm });

        // Get the tractor icon
        var icon = "/Content/Images/tractor.svg";

        // The marker, positioned at the farm, with the tractor icon.
        var marker = new google.maps.Marker({
            position: farm,
            map: map,
            icon: icon,
            title: 'Greenville Farms (Oregon)'
        });

        // The html for the 'popup' box
        var contentString = '<div class="card border-warning">' +
            '<div class="card-body" style="text-align:center;">' +
            '<h4>Greenville Farms</h4>' +
            '<h7>43500 NW Greenville Rd, Forest Grove, OR 97116</h7>' +
            '<br>' +
            '<a href="https://goo.gl/maps/RGwWQKeWBCwYdLaCA" target="_blank">Get Directions</a>'
        '</div>' +
            '</div>';

        // The 'popup' box
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        // Add listener for when a user clicks the marker.
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script src="@ViewBag.googleAPI" async defer></script>