@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>

<!--Banner and Title-->
<div class="image-bar">
    <h1>Greenville Farms</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12">
        </div>
        <div class="col-md-6 col-xs-12">
            <!--This is where the map is-->
            <h2>You can find us here:</h2>
            <div id="map"></div>
        </div>
    </div>
    <!--If we want another row it would go here.-->
</div>

<!--Google Map API Scripts-->
<script src="~/Scripts/map.js"></script>
<script src="@ViewBag.googleAPI" async defer></script>