@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="image-bar">
        <h1>Greenville Farms</h1>
    </div>
    <h1>This is the Home Page</h1>
    <!--Initializing index.html as the active page.-->
    <a class="active"></a>
</div>

