@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>

<!--Banner and Title-->
<div class="image-bar"">
    <h1>Greenville Farms</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <!--Google Reviews will (hopefully) go here-->
            <div id="reviews">
                <h2>Google Reviews:</h2>
            </div>
        </div>
    </div>
    <!--If we want another row it would go here.-->
</div>

@section scripts {
    <script src="~/Scripts/reviews.js" type="text/javascript"></script>
}