@{
    ViewBag.Title = "Home";
}
<!--Initializing index.html as the active page.-->
<a class="active"></a>

<div class="image-bar">
    <h1>Greenville Farms</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2>Some Content</h2>
            <p>Some stuff.</p>
        </div>
    </div>
</div>