
@{
    ViewBag.Title = "Sent";
}
    <div class="jumbotron bg-grey text-center">
        <h2 style="color: #ffffff;">
            Your message has successfully been sent!
        </h2>
        @Html.ActionLink("Done", "Index", "Home", null, new
        {
            @class = "btn btn-green"
        })
    </div><!--/jumbotron bg-tan text-centerr-->

