
@{
    ViewBag.Title = "Sent";
}

<div class="container-fluid">
    <div class="text-center">
        <h4>
            Your message has been sent
        </h4>
    </div><!--/text-center-->
</div><!--/container-fluid-->

