
@{
    ViewBag.Title = "Sent";
}
<div class="container-fluid">
    <div class="jumbotron bg-tanLight text-center">
        <h4>
            Your message has successfully been sent!
        </h4>
        @Html.ActionLink("Done", "Index", "Home", null, new
        {
            @class = "btn btn-red"
        })
    </div><!--/jumbotron bg-tan text-centerr-->
</div><!--/container-fluid-->

