body {
    font-size: 24px;
    background-color: #fffbfe;
    color: #000000;
}

ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2118;
}

ul#navbar li {
    float: left;
}

ul#navbar li a {
    display: block;
    color: #fffbfe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul#navbar li a:hover {
    background-color: #daddd8;
}

#navbar .active {
    background-color: #daddd8;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
