/* ~The Styling for the Site~ */
body {
    font-size: 16px;
    background-color: #fffbfe;
    color: #000000;
    margin: 0;
}

/*navbar*/
.bg-light {
    background-color: #817f75 !important;
}

.navbar {
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-item {
    font-size: 24px;
}

.nav-link {
    color: #ffffff;
    width: 150px;
}

nav {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav a:hover {
    background-color: #f8fff4;
    color: #000000;
}

.active {
    background-color: #2a7221;
}
/*end of navbar*/

.container {
    padding: 10px;
    margin: 10px;
}

/*The image on the home page*/
.image-bar {
    background-image: url(Images/Barn.jpg);
    background-position: 50% 27%;
    background-color: #000000;
    max-width: 100%;
    height: 240px;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .image-bar h1 {
        text-align: center;
        padding-top: 75px;
        color: #ffffff;
    }

#map {
    width: 600px;
    height: 450px;
}

#tractorImage {
    background-image: url(Images/Tractor_Dog.jpg);
    background-position: 65% 30%;
    background-color: #2b2118;
    width: 600px;
    height: 450px;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
