@model GreenvilleFarmsProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<br />
<div class="container-fluid">
   <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-start">
                <h2>My Profile</h2>
            </div>

        </div>
        <div class="col-md-6">
            <p class="text-success">@ViewBag.StatusMessage</p>
            <div class="card border-green">
                <div class="card-header bg-green" style="color:#ffffff;">
                    <h3>Change your account settings</h3>
                </div>
                <div class="card-body border-green">
                    <div class="d-flex justify-content-start">
                        <p style="font-size: 18px;">
                            <strong>
                                Password:
                            </strong>
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
